/* Fontes locais — Serena Energia */

@font-face {
  font-family: "Serena";
  src: url("../assets/fontes/serena/Serena-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Serena";
  src: url("../assets/fontes/serena/Serena-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Serena";
  src: url("../assets/fontes/serena/Serena-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Serena";
  src: url("../assets/fontes/serena/Serena-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fontes/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fontes/poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fontes/poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fontes/poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}
